.app-layout {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "footer";
}

.app-layout > main {
  grid-area: main;
}

.app-layout > footer {
  grid-area: footer;
}
