.app-layout {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.app-layout > header {
  grid-area: header;

  z-index: 1000;
  position: sticky;
  top: 0;
}

.app-layout > main {
  grid-area: main;
}

.app-layout > footer {
  grid-area: footer;
}
